# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Example app build artifacts
example/.dart_tool/
example/build/
example/.flutter-plugins
example/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
